<configuration>
<connectionStrings>
  <add name="shipBob" connectionString="Data Source=shipbobcode.cxqzddg0vo8n.us-west-2.rds.amazonaws.com,1433;Initial Catalog=shipbob;Integrated Security=True;User ID=root;Password=mypassword;Encrypt=False" providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>