<div class="container">
    <div class="well">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active in" id="login">
                <form name="myForm" >
                    <div id="legend">
                        <legend class="">Order</legend>
                    </div>
                    <div class="control-group">
                        <!-- Username -->
                        <label class="control-label" for="username">Tracking Id</label>
                        <div class="controls">
                            <input class="form-control" data-toggle="tooltip" data-placement="top" title="Please Enter  Value" placeholder="Tracking Id" ng-model="trackingId" required>
                        </div>
                    </div>

                    <div class="control-group">
                        <!-- Username -->
                        <label class="control-label" for="username">Receiver Name</label>
                        <div class="controls">
                            <input class="form-control" data-toggle="tooltip" data-placement="top" title="Please Enter  Value"  placeholder="Receiver Name" ng-model="name" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <!-- Username -->
                        <label class="control-label" for="username">Street</label>
                        <div class="controls">
                            <input class="form-control"  data-toggle="tooltip" data-placement="top" title="Please Enter  Value" placeholder="Street" ng-model="street" required>
                        </div>
                    </div>

                    <div class="control-group">
                        <!-- Username -->
                        <label class="control-label" for="username">Address</label>
                        <div class="controls">
                            <input class="form-control" data-toggle="tooltip" data-placement="top" title="Please Enter  Value"  placeholder="Address" ng-model="address" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <!-- Username -->
                        <label class="control-label" for="username">City</label>
                        <div class="controls">
                            <input class="form-control" data-toggle="tooltip" data-placement="top" title="Please Enter  Value" placeholder="City" ng-model="city" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <!-- Username -->
                        <label class="control-label" for="username">State</label>
                        <div class="controls"  >
                            <input class="form-control" data-toggle="tooltip" data-placement="top" title="Please Enter  Value" placeholder="Enter State" ng-model="states" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <!-- Username -->
                        <label class="control-label" for="username">ZipCode</label>
                        <div class="controls">
                            <input class="form-control" data-toggle="tooltip" data-placement="top" title="Please Enter Value" placeholder="Please type only number" ng-model="zipCode" required>
                        </div>
                    <br />

                    <div class="control-group">
                        <!-- Button -->
                        <div class="controls">
                            <input type="submit" ng-click="addOrder()" value="Add Order"class="btn btn-success"/>
                        </div>
                    </div>
                    </form>
</div>

        </div>
    </div>

