
<table class="table table-hover">
    <thead>
        <tr>
            <th st-sort="trackingId">Tracking Id</th>
            <th st-sort="name">Receiver Name</th>
            <th st-sort="street">Street</th>
            <th st-sort="address">Address</th>
            <th st-sort="city">City</th>
            <th st-sort="state">State</th>
            <th st-sort="zipcode">Zip Code</th>

        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="orders in orderData">
            <td>{{orders.trackingId}}</td>
            <td><a href="#" class="active" editable-text="orders.name" required>{{orders.name}}</a></td>
            <td><a href="#" class="active" editable-text="orders.street">{{orders.street }}</a></td>
            <td><a href="#" class="active" editable-text="orders.address">{{orders.address}}</a></td>
            <td><a href="#" class="active" editable-text="orders.city">{{orders.city}}</a></td>
            <td><a href="#" editable-text="orders.state" e-uib-typeahead="state for state in states | filter:$viewValue | limitTo:8"> {{orders.state}}</a></td>
            <td><a href="#" class="active" editable-text="orders.street">{{orders.zipcode}}</a></td>
            <td><button class="btn btn-success" ng-click="update(orders)">Update</button></td>
            <td><button class="btn btn-danger" ng-click="delete(orders)">Delete</button></td>
        </tr>
    </tbody>
    
</table>